        <footer>
            <div>
                <h1>DTU TnP</h1>
                <p>&copy; Delhi Technological University</p>
                <p>Prototype Design by Aman Rai, CO B.tech, DTU</p>
            </div>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/contact/btech">CONTACT US</a></li>
                <li><a href="">VISIT US</a></li>
            </ul>
        </footer>
    </body>
</html>