<% include ./partials/header %>
    <article class="single-col">
        <section>
            <h2>About</h2>
            <p>“75 years of Tradition of excellence in Engineering & Technology
    Education, Research and Innovations” Delhi Technological University formerly
    known as Delhi College of Engineering, (initially established with the name – Delhi Polytechnic)
    came into existence in the year 1941 to cater the needs of Indian industries for trained technical
                    manpower with practical experience and sound theoretical knowledge.</p>
            <br>
            <br>
            <p>DTU defines and continues to update methods of engineering and innovation in India. It provides
    its students with modern educational facilities while retaining traditional values, as well as
    using its strong industrial contacts to mould young, talented individuals who can compete in
    the global arena. The aim of DTU is to rank among leading universities globally</p>
            <br>
            <br>
            <em><h3>Vision</h3></em>
            <p>“DTU strives to become a leading world class technical university playing a significant role as
    a key node in national and global knowledge network and consequently empowering India in
    its quest to be among the top echelons of nations.”</p>
            <br>
            <em><h3>Mission</h3></em>
            <p>Our mission is to educate individuals to be competitive not only in India, but all over the world.
    Within an intensely competitive environment, the university has adopted a dynamic, global,
    high-quality; creative and communicative approach in education, as well as research and
    development.</p>
        </section>
    </article>
<% include ./partials/footer %>