<% include ./partials/header %>
    <article>
        <section>
            <h2>From VC's Desk</h2>
            <p>The Delhi Technological University (Erstwhile Delhi College of
Engineering) has a glorious past of more than 75 years and has been
widely acclaimed for its excellence in education, research and training.
A special emphasis is laid on total personality development along with
the quality education and technical training of the students. Delhi
Technological University is fully networked with industry, as well as
with academic/scientific community. It has active collaborations with
leading universities and industries in India and abroad. Delhi
Technological University is the alma mater of highly distinguished
world class engineers and technologists, which include the father of
Pentium Chip Vinod Dham, Promod Haque, the world's known venture
capitalist, Raj Soin, the avionics wizards of US and a top ranking techno
entrepreneur of Ohio, Durgadas Agrawal, the renowned techno
entrepreneur of Houston, to name a few.
Delhi Technological University has kept the quality of education and
research as its main focus of academic and professional activities and
this has earned a high reputation in the country and abroad as is
evident from DTU figuring several times among the top ten engineering
institutions in the country along with the IITs. Alumni, Staff, students
and supporters take pride in having contributed to the Delhi
Technological University reputation as India's flagship, research-led
university, known for the excellence of its teaching, research, and
service to its local, national and international communities. Our
challenge for the future is to build on this strong base to establish
ourselves firmly among the world's leading universities. I hope our
outstanding students will support us in this endeavour and in turn
emerge themselves, as pioneers of an exemplary society.</p>
        </section>
        <section>
            <h2>From HOD's Desk</h2>
            <p>Delhi Technological University, has incessantly been acting as a rostrum for
providing quality technical education with a mission of developing technocrats
having potential to excel. In congruence with this mission, Delhi Technological
University has perpetuated an admirable record for academic contribution towards
achieving excellence in building enviable organizations & a stupendous society.
The programs here have been designed to instil & inculcate spirits of innovation,
leadership & team work. Employing of latest technologies for effective delivery & a
practice oriented curriculum has been emphasized upon. The graduates & postgraduates of Delhi Technological University, by the virtue of the exposure provided,
have gained tremendous technological superiority & a better overall understanding
of the world and thus, been recruited in several International Conglomerates along
with Indian Corporations. This, in turn, has created an extensive & ever-growing
network of alumni eager to return back to the institution. We enjoy highly valued
partnerships with all our recruiters & remain committed to make their recruiting
experience productive & positive along with helping students in order to find the best
match between their needs & capabilities.</p>
        </section>
    </article>
    <div class="fadebackground">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </div>
<% include ./partials/footer %>