<% include ./partials/header %>
    <article class="double-col">
        <h2>Innovations</h2>
        <section>
            <h3>Autonomous Underwater Vehicle</h3>
            <img src="images/AUV.png" alt="AUV">
            <p><strong>DTU AUV</strong> is a team of undergraduate students of Delhi
Technological University devoted to developing completely
indigenous autonomous underwater vehicle and reduce
India’s reliance on foreign AUVs</p>
        </section>
        <section>
            <h3>Unmanned Aerial System</h3>
            <img src="images/UAS.png" alt="UAS">
            <p><strong>UAS-DTU</strong> is a team of undergraduate students of Delhi Technological
University, devoted to developing indigenous technological
solutions for UAVs. The ultimate goal of the team is to reduce
India’s reliance on COTS products and foreign UAVs. The Team,
under mentorship and funding from Lockheed Martin, is the first
to develop a Next Generation Urban UAS - Aarush X1, that is tailormade for surveillance in urban jungles like Delhi and Mumbai.
The team annually participates in AUVSI’s SUAS competition, and
bagged <strong>3rd position</strong> overall and <strong>1st in FRR at SUAS 2014 competition
in Maryland, USA.</strong></p>
        </section>
        <section>
            <h3>DelTech Baja</h3>
            <img src="images/DeltechBaja.png" alt="Deltech Baja">
            <p><strong>DelTech Baja</strong> is an elite team that designs, engineers and
manufactures vehicles worthy of facing the perilous off
road trails that Baja exposes them to. Started off in 2003
as “Team Resistance”, DelTech Baja is the oldest Baja SAE
team in India and was <strong>one of the first teams from Asia</strong> to
participate in overseas events (South Africa and USA). The
DelTech Baja boasts of rich legacy that is supported by a
large number of accolades and awards gathered since its
inception.</p>
        </section>
        <section>
            <h3>Team Raftaar</h3>
            <img src="images/Raftaar.png" alt="Raftaar">
            <p>Started in 2014, <strong>Team Raftaar</strong>, DTU, build recumbent bicycles and
innovate them towards perfection, to elevate them to a competitive
platform. The team bagged first position in design as well as overall
in India, in the recently held Human Powered Vehicle Competition’
India, organized by ASME. </p>
        </section>
        <section>
            <h3>Defianz Racing</h3>
            <img src="images/Defianz.png" alt="Defianz">
            <p><strong>Team Defianz Racing</strong> at DTU is known for developing,
designing and manufacturing a formula style racing car
that competes at the Formula Student Competition at
Silverstone Circuit, UK with over 160 teams from all over
the world.While the team secured <strong>6th position</strong> in Design in
FS India, The team bagged second position overall in Asia
in FSUK ’14.</p>
        </section>
        <section>
            <h3>E-cell</h3>
            <img src="images/Ecell.png" alt="E-cell">
            <p><strong>The Entrepreneurship Cell</strong> is a non-profit organization, which aims to promote the spirit of entrepreneurship among students of
DTU, through Leadership Lectures, B-Plan Competitions, and events like Startup Weekend, giving the students a platform to
pursue their ideas. These events are held in collaboration with
corporate giants such as Google, Nasscom and Techstars. The E-Cell, began 11 years ago, and continues its legacy forward,
after being awarded as the most acclaimed E-Cell of Delhi/NCR
Region.</p>
        </section>

    </article>
<% include ./partials/footer %>