<% include ./partials/header %>
    <article class="single-col" id="statistic">
        <section>
            <h2>Placement Statistics(2017)</h2>
            <h3>Highest Placement Package</h3>
            <p class="red-green"><span><strong>International Package:</strong></span>   <span><strong>52.22 LPA</strong></span></p>
            <p class="red-green"><span><strong>Domestic Package:</strong></span>   <span><strong>39.20 LPA</strong></span></p>
        </section>
        <section>
            <h3>Sector wise distribution of student placed</h3>
            <img src="images/stats1.png" alt="stats1">
            <h3>Sector wise distribution of companies visited</h3>
            <img src="images/stats2.png" alt="stats2">
        </section>
        <section>
            <h3>Some of the Major Companies Visited</h3>
            <img src="images/companies.png" alt="company">
        </section>
    </article>
<% include ./partials/footer %>